body {
    background-color: #fafafa;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

#signContainer {
    display: flex;
    align-items: center;
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
    width: auto;
}

.sign-image {
    height: 40vmin;
    min-height: 40vmin;
    max-height: 40vh;
    max-width: 100%;
}

.button-grid {
    flex: 25;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    min-height: 30vh;
    max-height: 30vh;
    width: 100%;
}

.button-grid .btn {
    width: 100%;
    height: 100%;
    white-space: normal;
}

.button-line {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-line .btn {
    margin: 5px 10px;
    min-height: 32px;
    min-width: 96px;
}

.spacer {
    height: 100%;
}

#answerText {
    min-height: 6vh;
    font-size: 1.2rem;
}

#selfTest {
    position: fixed;
    margin: 0 0 0 0;
    bottom: 16px;
    right: 0px;
    opacity: 0.7;
}

.form-switch {
    margin: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
    #signContainer {
        height: 25vh;
        min-height: 25vh;
        max-height: 25vh;
    }

    .sign-image {
        min-height: 25vmin;
        max-height: 25vh;
    }

    .button-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(0, 1fr));
        min-height: 50vh;
        max-height: 50vh;
    }
}